$blue-light:#eff6ff;
$blue-regular:#bfdbfe;
$blue-medium:#2563eb;
$blue-dense:#1e40af;
$purple-light:#fdf4ff;
$purple-regular:#f5d0fe;
$purple-medium:#d946ef;
$purple-dense:#86198f;
$gray-light:#f9fafb;
$gray-regular:#e5e7eb;
$gray-medium:#6b7280;
$gray-dense:#1f2937;
$error-color:#fecdd3;
$success-color:#bbf7d0;